:root {
  --main-color-background: #2f303a;
  --accent-color: #2196f3;
  --btn-active-color: #188ce8;
  --main-color-font: #212121;
  --secondary-color-font: #757575;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-background-color: #f5f4fa;
  --grey-stroke-color: #ececec;
  --projects-cards-color: #eeeeee;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --main-font-size: 14px;
  --secondary-font-size: 16px;
}

body {
  font-family: var(--main-font);
  color: var(--main-color-font);
  font-size: var(--main-font-size);
}
.header {
  background-color: var(--white-color);
  display: flex;
}
.link {
  text-decoration: none;
  color: inherit;
}
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--black-color);
  letter-spacing: 0.03em;
  font-family: var(--logo-font);
}
.logo-wrap {
  color: var(--accent-color);
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.main-nav:hover,
.main-nav:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.link-contact {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-color-font);
}
.link-contact:focus,
.link-contact:hover {
  color: var(--accent-color);
}
.hero-section {
  background-color: var(--main-color-background);
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}
.btn-service {
  border: none;
  font-family: var(--main-font);
  font-size: var(--secondary-font-size);
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  text-align: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin: 0 auto;
}
.btn-service:focus,
.btn-service:hover {
  background-color: var(--btn-active-color);
}
.visually-hidden {
  overflow: hidden;
  margin: -1px;
  display: none;
  border: 0;
  padding: 0;
}
.subtitle-feature {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.description-feature {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-color-font);
}
.team-section {
  background-color: var(--grey-background-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
}

.team-member-name {
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.job-position {
  color: var(--secondary-color-font);
  font-size: var(--secondary-font-size);
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.footer {
  background-color: var(--main-color-background);
}

.logo-wrap-footer {
  color: var(--white-color);
}
.address {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.address:focus,
.address:hover {
  color: var(--accent-color);
}

.link-contact-footer {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}
.link-contact-footer:focus,
.link-contact-footer:hover {
  color: var(--accent-color);
}

.btn-projects {
  border: none;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: calc(26 / 16);
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
}
.btn-projects:focus,
.btn-projects:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.title-project {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: var(--main-color-font);
  letter-spacing: 0.06em;
}

.type-project {
  font-size: var(--secondary-font-size);
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-color-font);
}
